:root {
  font-family:
    system-ui,
    "Segoe UI",
    Roboto,
    Helvetica,
    Arial,
    sans-serif;

  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;

  background: #0F172A;

  font-synthesis: none;
  text-rendering: optimizeLegibility;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


/* ROOT CONTAINER */

#root {

  width: 100%;

  min-height: 100vh;

  margin: 0;

  padding: 0;

  box-sizing: border-box;

}



/* GLOBAL BODY */

body {

  margin: 0;

  min-width: 320px;

  min-height: 100vh;

  background:
    linear-gradient(
      135deg,
      #020617,
      #0F172A,
      #1E293B
    );

}



/* REMOVE DEFAULT VITE HEADING STYLES */

h1,
h2,
h3,
h4,
h5,
h6 {

  margin: 0;

  font-family:
    inherit;

  font-weight: inherit;

}



/* PARAGRAPH */

p {

  margin: 0;

}



/* BUTTON RESET */

button {

  font-family:
    inherit;

}



/* INPUT RESET */

input,
textarea,
select {

  font-family:
    inherit;

}



/* SCROLLBAR */

::-webkit-scrollbar {

  width: 8px;

}


::-webkit-scrollbar-track {

  background:#0F172A;

}


::-webkit-scrollbar-thumb {

  background:#334155;

  border-radius:10px;

}


::-webkit-scrollbar-thumb:hover {

  background:#475569;

}